body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin:0;
  padding:0;
}

.shortcut__avatar{
  background-color: rgb(65, 225, 150);
  width:55px;
  height:55px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:1.3rem;
  color:white;
}
.shortcut__avatar2{
  background-color: rgb(225, 65, 177);
  width:55px;
  height:55px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:1.3rem;
  color:white;
}
#uni__logo:hover{
 background-color: none !important;

}
.navbar .navbar-brand:hover { color:transparent; } 
.register__side {
 
  display:flex;
  margin-top:0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  flex:.6;
}

.lista__header{
  /* fallback for old browsers */
  background: #7df665;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(101, 246, 104), rgb(133, 163, 253));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(101, 246, 104), rgb(133, 163, 253));
  width:100%;
    height:20vh;
    margin-bottom:10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(42, 124, 255, 0.9);
  -webkit-box-shadow: 0 0 1px rgba(5, 180, 255, 0.);
}
